<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customConfigSection" type="FT_Launcher.CustomConfigSection, FT_Launcher" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FT_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="title" value="JFTSE Launcher" />
    <add key="newsUrl" value="http://localhost/news.html" />
    <add key="registerUrl" value="http://localhost/register.html" />
    <add key="discordUrl" value="http://localhost/discord.html" />
  </appSettings>
  <customConfigSection>
    <downloadUrls>
      <downloadUrl name="Default Server" url="http://localhost/updater/" launchFile="" launchArgs="" />
      <downloadUrl name="Custom Server" url="http://localhost/updater2/" launchFile="" launchArgs="" />
    </downloadUrls>
  </customConfigSection>
  <startup>
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <userSettings>
    <FT_Launcher.Properties.Settings>
      <setting name="SelectedDownloadUrl" serializeAs="String">
        <value />
      </setting>
    </FT_Launcher.Properties.Settings>
  </userSettings>
</configuration>