<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customConfigSection" type="FT_Launcher.CustomConfigSection, FT_Launcher" />
  </configSections>
  <appSettings>
    <add key="title" value="FT Launcher" />
    <add key="newsUrl" value="http://localhost/news.html" />
    <add key="updateUrl" value="http://localhost/updater/" />
    <add key="launchFile" value="" />
    <!-- eg "FT_Client_Patched.exe" -->
    <add key="launchFileArgs" value="" />
    <!-- eg "0" -->
  </appSettings>
  <customConfigSection>
    <downloadUrls>
      <downloadUrl name="Name" url="Url" launchFile="LaunchFile" launchArgs="launchArgs" />
      <downloadUrl name="Name2" url="Url2" launchFile="LaunchFile2" launchArgs="launchArgs2" />
    </downloadUrls>
  </customConfigSection>
  <startup>
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>